@font-face {
  font-family: "Open Sans Extrabold";
  src: url("../fonts/OpenSans-ExtraBold.eot?") format("eot"), url("../fonts/OpenSans-ExtraBold.woff") format("woff"), url("../fonts/OpenSans-ExtraBold.ttf") format("truetype"), url("../fonts/OpenSans-ExtraBold.svg#OpenSans-Extrabold") format("svg");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

button, a {
  cursor: pointer;
}

.area-account {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #231F20;
  color: #FFFFFF;
  height: 31px;
}
.area-account a {
  color: #FFFFFF;
  font-weight: bold;
}

.area-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.area-search .logo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.area-search .logo i {
  font-size: 1.56rem;
  cursor: pointer;
}
.area-search .logo i:last-of-type {
  color: #CB0D1F;
}
.area-search .logo img {
  width: 191px;
  height: 61px;
}

.search,
.menu-links,
.nav-lateral {
  display: none;
}

.container {
  margin: 30px 10px;
}
.container .content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.container .content .banner {
  height: 200px;
  background-color: #ACACAC;
}
.container .content .main {
  margin-top: 20px;
}
.container .content .main h1 {
  font-size: 1.65rem;
}
.container .content .main p {
  font-size: 1rem;
  line-height: 1.93rem;
}

footer {
  background: #CB0D1F;
  margin: 20px 10px;
  height: 176px;
}

/* ---------------- MEDIA QUERIES  ---------------- */
@media (min-width: 768px) {
  .area-account {
    justify-content: flex-end;
  }

  a:last-child {
    margin-right: 13px;
  }

  .area-search {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
  .area-search .logo {
    justify-content: flex-start;
    align-items: center;
  }
  .area-search .logo img {
    margin-left: 10px;
  }
  .area-search .logo i {
    display: none;
  }
  .area-search .search {
    display: block;
    display: flex;
    align-items: center;
    margin-right: 13px;
  }
  .area-search .search input {
    width: 400px;
    height: 44px;
    border: 1px solid #959595;
    padding: 10px;
  }
  .area-search .search button {
    width: 110px;
    height: 44px;
    border: 0;
    border-top-left-radius: none;
    border-bottom-left-radius: none;
    background-color: #CB0D1F;
    cursor: pointer;
    font-family: "Open Sans";
    font-size: 1rem;
    color: #FFFFFF;
    font-weight: bold;
  }
  .area-search .search button:hover {
    opacity: 0.8;
  }

  .menu-links {
    display: block;
    background: #CB0D1F;
    height: 54px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: "Open Sans";
    font-weight: bold;
  }
  .menu-links ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    list-style: none;
  }
  .menu-links ul li a:first-child {
    margin: 10px;
  }
  .menu-links ul li a {
    text-decoration: none;
    color: white;
  }

  .container {
    display: flex;
    flex-direction: row;
  }
  .container .nav-lateral {
    display: block;
    background: #E2DEDC;
    font-size: 1rem;
    line-height: 1.93rem;
    height: 400px;
    width: 20%;
    margin-right: 20px;
  }
  .container .nav-lateral ul {
    display: flex;
    padding: 10px;
    flex-direction: column;
    margin-left: 20px;
  }
  .container .nav-lateral ul li a {
    text-decoration: none;
    color: #000000;
  }
  .container .content {
    width: 80%;
  }
}
@media (min-width: 1024px) {
  .area-account {
    font-size: 0.87rem;
  }

  .menu-links {
    justify-content: flex-start;
  }
  .menu-links ul {
    width: 1440px;
  }

  .container {
    height: 600px;
  }
  .container .nav-lateral {
    font-size: 1.12rem;
    height: auto;
  }
  .container .content .banner {
    height: 223.34px;
  }
  .container .content .main {
    height: 283, 99px;
  }
}
@media (min-width: 1440px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }

  .area-account {
    max-width: 1440px;
  }
  .area-account p {
    margin-right: 100px;
  }

  .area-search {
    max-width: 1440px;
    margin: 20px 100px;
  }

  .menu-links {
    max-width: 1440px;
    width: 100vw;
  }
  .menu-links ul {
    width: 70%;
    margin-left: 100px;
  }

  .container {
    max-width: 1440px;
    margin: 30px 100px;
  }

  footer {
    width: 1240px;
    height: 1000px;
  }
}

/*# sourceMappingURL=home.css.map */
