@font-face {
  font-family: "Open Sans Extrabold";
  src: url("../fonts/OpenSans-ExtraBold.eot?") format("eot"), url("../fonts/OpenSans-ExtraBold.woff") format("woff"), url("../fonts/OpenSans-ExtraBold.ttf") format("truetype"), url("../fonts/OpenSans-ExtraBold.svg#OpenSans-Extrabold") format("svg");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

button, a {
  cursor: pointer;
}

.area-account {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #231F20;
  color: #FFFFFF;
  height: 31px;
}
.area-account a {
  color: #FFFFFF;
  font-weight: bold;
}

.area-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.area-search .logo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.area-search .logo i {
  font-size: 1.56rem;
  cursor: pointer;
}
.area-search .logo img {
  width: 191px;
  height: 61px;
}

.search,
.menu-links {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 30px 10px;
}
.container .location {
  margin-bottom: 20px;
  color: #CB0D1F;
  font-size: 0.9rem;
}
.container .location a {
  text-decoration: none;
  color: #00A8A9;
}
.container .filters-menu {
  display: flex;
  flex-direction: column;
  border: 1px solid #E2DEDC;
  padding: 10px 20px;
  margin-top: 20px;
  height: 474px;
}
.container .filters-menu h2 {
  font-size: 1.5rem;
  color: #CB0D1F;
}
.container .filters-menu .filter-categories,
.container .filters-menu .filter-colors,
.container .filters-menu .filter-types {
  margin: 20px 0;
}
.container .filters-menu .filter-categories ul,
.container .filters-menu .filter-colors ul,
.container .filters-menu .filter-types ul {
  cursor: pointer;
}
.container .filters-menu div h3 {
  font-size: 1.12rem;
  color: #1E2B50;
  margin: 10px 0;
}
.container .filters-menu ul {
  color: #626262;
}
.container .filters-menu ul li {
  margin-left: 20px;
}
.container .filters-menu .cores-teste {
  display: flex;
  justify-content: space-between;
  width: 160px;
}
.container .filters-menu .cores-teste .box {
  width: 50px;
  height: 25px;
}
.container .filters-menu .cores-teste .box-1 {
  border: 1px solid #CB0D1F;
  background-color: #CB0D1F;
}
.container .filters-menu .cores-teste .box-2 {
  border: 1px solid #F26324;
  background-color: #F26324;
}
.container .filters-menu .cores-teste .box-3 {
  border: 1px solid #27A3A9;
  background-color: #27A3A9;
}
.container .main {
  width: 100%;
  margin-top: 20px;
}
.container .main h1 {
  font-size: 2rem;
  color: #CB0D1F;
  font-weight: 400;
}
.container .main .area-filter-view {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: none;
  margin: 5px 0;
}
.container .main .area-filter-view .filters {
  display: none;
}
.container .main .area-filter-view label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  color: #808185;
  font-size: 0.78rem;
}
.container .main .area-filter-view label select {
  border: 1px solid #E2DEDC;
  border-radius: 5px;
  width: 190px;
  padding: 5px;
}
.container .containerProducts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 30px;
}
.container .containerProducts .card-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 1rem;
  color: #626262;
  height: 250px;
  width: 50%;
}
.container .containerProducts .card-item figure {
  text-align: center;
}
.container .containerProducts .card-item figure img {
  border: 1px solid #DDD;
  padding: 10px;
  width: 120px;
  height: 100px;
}
.container .containerProducts .card-item .specialPrice {
  font-size: 0.95rem;
  color: #808185;
  text-decoration: line-through;
  margin-bottom: -35px;
}
.container .containerProducts .card-item .normalPrice {
  font-size: 1.32rem;
  font-family: "Open Sans Extrabold";
  color: #1E2B50;
}
.container .containerProducts .card-item button {
  display: none;
}

footer {
  background: #CB0D1F;
  margin: 20px 10px;
  height: 176px;
}

/* ---------------- MEDIA QUERIES  ---------------- */
@media (min-width: 768px) {
  .area-account {
    justify-content: flex-end;
  }

  a:last-child {
    margin-right: 13px;
  }

  .area-search {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
  .area-search .logo {
    justify-content: flex-start;
    align-items: center;
  }
  .area-search .logo img {
    margin-left: 10px;
  }
  .area-search .logo i {
    display: none;
  }
  .area-search .search {
    display: block;
    display: flex;
    align-items: center;
    margin-right: 13px;
  }
  .area-search .search input {
    width: 400px;
    height: 44px;
    border: 1px solid #959595;
    padding: 10px;
  }
  .area-search .search button {
    width: 110px;
    height: 44px;
    border: 0;
    border-top-left-radius: none;
    border-bottom-left-radius: none;
    background-color: #00A8A9;
    cursor: pointer;
    font-family: "Open Sans";
    font-size: 1rem;
    color: #FFFFFF;
    font-weight: bold;
  }
  .area-search .search button:hover {
    opacity: 0.8;
  }

  .menu-links {
    display: block;
    background: #CB0D1F;
    height: 54px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: "Open Sans";
    font-weight: bold;
  }
  .menu-links ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    list-style: none;
  }
  .menu-links ul li a:first-child {
    margin: 10px;
  }
  .menu-links ul li a {
    text-decoration: none;
    color: white;
  }

  .container .area-options {
    display: flex;
  }
  .container .filters-menu {
    display: block;
    background: #FFFFFF;
    font-size: 1rem;
    line-height: 1.93rem;
    height: 550px;
    width: 30%;
    margin-right: 20px;
  }
  .container .filters-menu ul li a {
    text-decoration: none;
    color: #000000;
  }
  .container .main .area-filter-view {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid #E2DEDC;
  }
  .container .main .area-filter-view .filters {
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60px;
  }
  .container .main .area-filter-view .filters img {
    height: 25px;
  }
  .container .main .area-filter-view label {
    width: 300px;
  }
  .container .main .containerProducts {
    justify-content: flex-start;
  }
  .container .main .containerProducts .card-item {
    width: 30%;
    margin: 10px 0;
  }
  .container .main .containerProducts .card-item .card-price {
    display: flex;
  }
  .container .main .containerProducts .card-item .card-price .specialPrice {
    margin-bottom: -15px;
  }
  .container .main .containerProducts .card-item button {
    display: block;
    height: 40px;
    width: 146px;
    border-radius: 5px;
    border: none;
    font-family: "Open Sans Extrabold";
    background-color: #00A8A9;
    color: #FFFFFF;
  }
}
@media (min-width: 1024px) {
  .area-account {
    font-size: 0.87rem;
  }

  .menu-links {
    justify-content: flex-start;
  }
  .menu-links ul {
    width: 1440px;
  }

  .container .filters-menu {
    font-size: 1.12rem;
  }
  .container .main .containerProducts {
    justify-content: flex-start;
  }
  .container .main .containerProducts .card-item {
    width: 180px;
  }
  .container .main .containerProducts .card-item .card-price {
    display: flex;
  }
}
@media (min-width: 1440px) {
  .area-account {
    max-width: 1440px;
  }
  .area-account p {
    margin-right: 100px;
  }

  .area-search {
    max-width: 1440px;
    margin: 20px 100px;
  }

  .menu-links {
    max-width: 1440px;
    width: 100vw;
  }
  .menu-links ul {
    width: 70%;
    margin-left: 100px;
  }

  .container {
    max-width: 1440px;
    margin: 30px 100px;
  }

  footer {
    margin: 20px 10px;
    height: 176px;
  }
}

/*# sourceMappingURL=products.css.map */
