@import "reset";

.area-account{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  background: $preto-background;
  color: $branco;
  height: 31px;

  a{
    color: $branco;
    font-weight: bold;
  }
}

.area-search{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  
  .logo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 100%;
  
    i{
      font-size: 1.56rem;
      cursor: pointer;
    }
 
    i:last-of-type{
      color: $vermelho-escuro;
    }
  
    img{
      width: 191px;
      height: 61px;
    }
  
  }
}

.search,
.menu-links,
.nav-lateral{
  display: none;
}

.container{
  margin: 30px 10px;

  .content{
    height: 100%;
    display: flex;
    flex-direction: column;

    .banner{
      height: 200px;
      background-color: $cinza-medio;
    }

    .main{
      margin-top: 20px;

      h1{
        font-size: 1.65rem;
      }

      p{
        font-size: 1rem;
        line-height: 1.93rem;
      }
    }
  }
}

footer{

  background: $vermelho-escuro;
  margin: 20px 10px;
  height: 176px;
}



/* ---------------- MEDIA QUERIES  ---------------- */

@media (min-width: 768px) {
  .area-account{
    justify-content: flex-end;
  }

  a:last-child{
    margin-right: 13px;
  }

  .area-search{
    display: flex;
    justify-content: space-between;
    align-content: center;
    
    .logo{
      justify-content: flex-start;
      align-items: center;

      img{
        margin-left: 10px;
      }
  
      i{
        display: none;
      }
    }
    
    .search{
      display: block;
      display: flex;
      align-items: center;
      margin-right: 13px;
      
      input{
        width: 400px;
        height: 44px;
        border: 1px solid $cinza-escuro;
        padding: 10px;
      }
      
      button{
        width: 110px;
        height: 44px;
        
        border: 0;
        border-top-left-radius: none;
        border-bottom-left-radius: none;
        background-color: $vermelho-escuro;
        cursor: pointer;
  
        font-family: "Open Sans";
        font-size: 1rem;
        color: $branco;
        font-weight: bold;
      }
  
      button:hover{
        opacity: 0.8;
      }
    }
  }

  .menu-links{
    display: block;
    background: $vermelho-escuro;
    height: 54px;
    margin-top: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    text-transform: uppercase;
    font-family: "Open Sans";
    font-weight: bold;
    
    ul{
      display: flex;
      justify-content: space-between;
      align-items: center;
    
      width: 100%;
      list-style: none;
    
      li a:first-child{
        margin: 10px;
      }
  
      li a{
        text-decoration: none;
        color: white;
      }
    }
  }

  .container{
    display: flex;
    flex-direction: row;
        
    .nav-lateral{
      display: block;
      background: $cinza;

      font-size: 1rem;
      line-height: 1.93rem;      
      
      height: 400px;
      width: 20%;
      margin-right: 20px;
      
      ul{
        display: flex;
        padding: 10px;
        flex-direction: column;
        margin-left: 20px;

        li a{
          text-decoration: none;
          color: $preto;
        }
        
      }
    }

    .content{
      width: 80%;
    }
  }
}


@media (min-width: 1024px) {
  .area-account{
    font-size: 0.87rem;
  }

  .menu-links{
    justify-content: flex-start;

    ul{
      width: 1440px;
    }
  }

  .container{
    height: 600px;

    .nav-lateral{
      font-size: 1.12rem;
      height: auto;
    }

    .content{

      .banner{
        height: 223.34px;
      }

      .main{
        height: 283,99px;
      }
    }
  }
  
}



@media (min-width: 1440px) {
  body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
  
  .area-account{
    max-width: 1440px;

    p{
      margin-right: 100px;
    }
  }
  
  .area-search{
    max-width: 1440px;
    margin: 20px 100px; 
  }
  
  .menu-links{
    max-width: 1440px;
    width: 100vw;

    ul{
      width: 70%;
      margin-left: 100px;
    }
  }

  .container{
    max-width: 1440px;
    margin: 30px 100px;
  }
  
  footer{
    width: 1240px;
    height: 1000px;
    // margin: 20px 50px;
  }

}