@import "reset";

.area-account{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  background: $preto-background;
  color: $branco;
  height: 31px;

  a{
    color: $branco;
    font-weight: bold;
  }
}

.area-search{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  
  .logo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 100%;
  
    i{
      font-size: 1.56rem;
      cursor: pointer;
    }
  
    img{
      width: 191px;
      height: 61px;
    }
  
  }
}

.search,
.menu-links{
  display: none;
}

.container{
  display: flex;
  flex-direction: column;
  
  margin: 30px 10px;

  .location{
    margin-bottom: 20px;
    color: $vermelho-escuro;
    
    font-size: 0.90rem;

    a{
      text-decoration: none;
      color: $verde-agua-medio;
    }
  }
  
  .filters-menu{
    display: flex;
    flex-direction: column;

    border: 1px solid $cinza;
    padding: 10px 20px;
    margin-top: 20px;
    height: 474px;

    h2{
      font-size: 1.5rem;
      color: $vermelho-escuro; 
    }

    .filter-categories,
    .filter-colors,
    .filter-types{
      margin: 20px 0;
    }

    .filter-categories ul,
    .filter-colors ul,
    .filter-types ul{
      cursor: pointer;
    }

    div h3{
      font-size: 1.12rem;
      color: $azul-escuro;

      margin: 10px 0;
    }

    ul{
      color: $cinza-dark;

      li{
        margin-left: 20px;
      }
    }

    .cores-teste{
      display: flex;
      justify-content: space-between;
      width: 160px;

      .box{
        width: 50px;
        height: 25px;
      }
  
      .box-1{
        border: 1px solid $vermelho-escuro;
        background-color: $vermelho-escuro;
      }
      .box-2{
        border: 1px solid $laranja;
        background-color: $laranja;
      }
      .box-3{
        border: 1px solid $verde-agua-claro;
        background-color: $verde-agua-claro;
      }

    }


  }

  .main{
    width: 100%;
    margin-top: 20px;

    h1{
      font-size: 2rem;
      color: $vermelho-escuro;
      font-weight: 400;
    }

    .area-filter-view{
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      border-top: none;

      margin: 5px 0;

      .filters{
        display: none;
      }

      label{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        width: 100%;
        margin-top: 10px;
        
        color: $cinza-2;
        font-size: 0.78rem;

        
        select{
          border: 1px solid $cinza;
          border-radius: 5px;

          width: 190px;
          padding: 5px;
        }
      }
    }
  }

  .containerProducts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin-top: 30px;

    .card-item{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      font-size: 1rem;
      color: $cinza-dark;

      height: 250px;
      width: 50%;

      figure{
        text-align: center;
      }
      
      figure img {
        border: 1px solid #DDD;
        padding: 10px;
        width: 120px;
        height: 100px;
      }

      .specialPrice{
        font-size: 0.95rem;
        color: $cinza-2;
        text-decoration: line-through;
        margin-bottom: -35px;
      }

      .normalPrice{
        font-size: 1.32rem;
        font-family: 'Open Sans Extrabold';
        color: $azul-escuro;
      }

      button{
        display: none;
      }
    }
  }
}

footer{
  background: $vermelho-escuro;
  margin: 20px 10px;
  height: 176px;
}



/* ---------------- MEDIA QUERIES  ---------------- */

@media (min-width: 768px) {
  .area-account{
    justify-content: flex-end;
  }

  a:last-child{
    margin-right: 13px;
  }

  .area-search{
    display: flex;
    justify-content: space-between;
    align-content: center;
    
    .logo{
      justify-content: flex-start;
      align-items: center;

      img{
        margin-left: 10px;
      }
  
      i{
        display: none;
      }
    }
    
    .search{
      display: block;
      display: flex;
      align-items: center;
      margin-right: 13px;
      
      input{
        width: 400px;
        height: 44px;
        border: 1px solid $cinza-escuro;
        padding: 10px;
      }
      
      button{
        width: 110px;
        height: 44px;
        
        border: 0;
        border-top-left-radius: none;
        border-bottom-left-radius: none;
        background-color: $verde-agua-medio;
        cursor: pointer;
  
        font-family: "Open Sans";
        font-size: 1rem;
        color: $branco;
        font-weight: bold;
      }
  
      button:hover{
        opacity: 0.8;
      }
    }
  }

  .menu-links{
    display: block;
    background: $vermelho-escuro;
    height: 54px;
    margin-top: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    text-transform: uppercase;
    font-family: "Open Sans";
    font-weight: bold;
    
    ul{
      display: flex;
      justify-content: space-between;
      align-items: center;
    
      width: 100%;
      list-style: none;
    
      li a:first-child{
        margin: 10px;
      }
  
      li a{
        text-decoration: none;
        color: white;
      }
    }
  }

  .container{

    .area-options{
      display: flex;
    }
        
    .filters-menu{
      display: block;
      background: $branco;

      font-size: 1rem;
      line-height: 1.93rem;      
      
      height: 550px;
      width: 30%;
      margin-right: 20px;
      
      ul{

        li a{
          text-decoration: none;
          color: $preto;
        }
        
      }
    }

    .main{

      .area-filter-view{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        border-top: 1px solid $cinza;
        
        .filters{
          display: block;
          display: flex;
          justify-content: space-between;
          align-items: center;

          width: 60px;

          img{
            height: 25px;
          }
        }
        
        label{
          width: 300px;          
        }
      }

      .containerProducts{
        justify-content: flex-start;
        
        .card-item{
          width: 30%;
          margin: 10px 0;

          .card-price{
            display: flex;

            .specialPrice{
              margin-bottom: -15px;
            }
          }
    
    
          button{
            display: block;

            height: 40px;
            width: 146px;
            
            border-radius: 5px;
            border: none;
            
            font-family: 'Open Sans Extrabold';

            background-color: $verde-agua-medio;
            color: $branco;

          }
        }
      }
    }

  }
}


@media (min-width: 1024px) {
  .area-account{
    font-size: 0.87rem;
  }

  .menu-links{
    justify-content: flex-start;

    ul{
      width: 1440px;
    }
  }

  .container{
    .filters-menu{
      font-size: 1.12rem;
    }

    .main{
      .containerProducts{
        justify-content: flex-start;
  
        .card-item{
          width: 180px;

          .card-price{
            display: flex;
          }
        }
      }
    }

  }
  
}

@media (min-width: 1440px) {
  .area-account{
    max-width: 1440px;

    p{
      margin-right: 100px;
    }
  }
  
  .area-search{
    max-width: 1440px;
    margin: 20px 100px; 
  }
  
  .menu-links{
    max-width: 1440px;
    width: 100vw;

    ul{
      width: 70%;
      margin-left: 100px;
    }
  }

  .container{
    max-width: 1440px;
    margin: 30px 100px;
  }
  

  footer{
    margin: 20px 10px;
    height: 176px;
  }

}