@font-face {
  font-family: "Open Sans Extrabold";
  src: url("../fonts/OpenSans-ExtraBold.eot?") 
  format("eot"), url("../fonts/OpenSans-ExtraBold.woff") 
  format("woff"), url("../fonts/OpenSans-ExtraBold.ttf") 
  format("truetype"), url("../fonts/OpenSans-ExtraBold.svg#OpenSans-Extrabold") 
  format("svg");
  font-weight:normal;
  font-style:normal;
}

$branco: #FFFFFF;
$cinza: #E2DEDC;
$cinza-medio: #ACACAC;
$cinza-escuro: #959595;
$cinza-dark: #626262;
$cinza-2: #808185;
$cinza-3: #8E8E8E;
$vermelho-claro: #E50019;
$vermelho-escuro: #CB0D1F;
$vermehlo-icon: #ED1A39;
$preto: #000000;
$preto-background: #231F20;
$preto-2: #1A1818;
$verde-agua-claro: #27A3A9;
$verde-agua-medio: #00A8A9;
$verde-agua-escuro: #61908C;
$laranja: #F26324;
$azul-escuro: #1E2B50;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

button, a{
  cursor: pointer;
}